* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lexend, sans-serif;
    color: white;
}

body {
    background: linear-gradient(180deg, #000428, #110645);
}

#center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: moveTitle 0.5s forwards;
    font-size: 2em;
}

@keyframes moveTitle {
    to {
        top: 29%;
        transform: translateX(-50%);
    }
}

.center-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeIn 1s forwards;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 25px 70px;
    border: none;
    border-radius: 50px;
    background-color: #000428;
    color: white;
    font-size: 1.25em;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #000500;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}